body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-width{
  width: 100%;
}

.pt-15px{
  padding-top: 15px;
}

.main-card{
  border-radius: 10px !important;
}

.card-img{
  max-width: 100%;
  height: 170px;
}

.card-detail{
  padding: 8px;
}

.card-heading{
  white-space: nowrap;
  max-width: 50%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 18px;
}

.star-main-container{
  float: right;
}

.star-img{
  max-height: 10px;
  max-width: 10px;
  margin: 1px;
}

.rating-text{
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

.location-locator, .voucher-head, .voucher-text, .more-offer{
  font-size: 10px;
}

.location-locator{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voucher-head{
  margin: 10px 0;
  min-height: 15px;
}

.voucher-text{
  line-height: 20px;
  min-height: 40px;
}

.more-offer{
  font-weight: bold;
  min-height: 15px;
}

.card-buttons{
  padding-top: 10px;
}

.heart-img{
  max-width: 20px;
}

.buy-now-btn{
  float: right;
  border: 1px solid #000 !important;
  padding: 5px 1px !important;
  line-height: 1 !important;
}

.buy-now-btn:focus{
  box-shadow: none !important;
  outline: none !important;
}